<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site do EMITAI22</title>
    <link rel="icon" href="/static/images/emitao22_logo.png" type="image/png"> <!-- Logo na aba -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <img id="header-img" src="/static/images/emitao22_logo.png" alt="Logo da Turma" style="width: 150px; height: auto;">
        <p>Explore nossas experiências incríveis nesses 3 anos de IFC Luzerna.</p>
        <a href="https://www.instagram.com/emitai2022/" target="_blank">
            <img class="instagram-button" src="/static/images/instagram.png" alt="Instagram">
        </a>
        <nav>
    </header>
    <main>
        <section id="homepage">
            <h2>Sobre a Turma</h2>
            <p>Em 2022, nossa jornada começou no IFC Campus Luzerna. Durante esses três anos, enfrentamos inúmeros desafios e vivemos muitas aventuras, criando memórias que nos acompanharão para sempre. Com muita dedicação e união, superamos obstáculos e crescemos juntos como indivíduos e como grupo. Agora, no dia 20 de dezembro de 2024, celebramos nossa formatura, marcando o fim de uma etapa inesquecível e o início de novas conquistas.</p>
            <div>
                <a href="/galeria" class="button">Galeria de Imagens</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; EMITAI22 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
